{% extends "zasoby/base.html" %}

{% block title %}Historia użycia zasobów{% endblock %}

{% block content %}
    <h1>Historia użycia zasobów</h1>

    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Zasób</th>
                    <th>Zużycie</th>
                    <th>Jednostka</th>
                    <th>Data</th>
                </tr>
            </thead>
            <tbody>
                {% for history in histories %}
                    <tr>
                        <td>{{ history.resource.name }}</td>
                        <td>{{ history.quantity_used }}</td>
                        <td>{{ history.resource.unit }}</td>
                        <td>{{ history.date_used }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
