{% extends "zasoby/base.html" %}

{% block title %}Zasoby{% endblock %}

{% block content %}
    <h1>Lista zasobów</h1>

    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nazwa</th>
                    <th>Ilość</th>
                    <th>Jednostka</th>
                    <th>Kategoria</th>
                    <th>Data zakupu</th>
                    <th>Data wygaśnięcia</th>
                    <th>Akcje</th>
                </tr>
            </thead>
            <tbody>
                {% for resource in resources %}
                    <tr>
                        <td>{{ resource.name }}</td>
                        <td>{{ resource.quantity }}</td>
                        <td>{{ resource.unit }}</td>
                        <td>{{ resource.category.name }}</td>
                        <td>{{ resource.purchase_date }}</td>
                        <td>{{ resource.expiration_date }}</td>
                        <td>
                            <a href="{% url 'add_history' resource.id %}" class="btn btn-sm btn-primary">Dodaj Zużycie</a>
                            <a href="{% url 'resource_edit' resource.id %}" class="btn btn-sm btn-warning">Edytuj</a>
                            <a href="{% url 'resource_delete' resource.id %}" class="btn btn-sm btn-danger">Usuń</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}